h1 {
  color: #444;
}

.draw-spot {
  background-color: cornflowerblue;
  border: solid 1px;
  cursor: pointer;
}

.teams {
  padding: 0px;
  list-style: none;
}

.group-container {
  display: flex;
}

.group-item {
  width: 130px;
  padding: 10px;
  margin: 10px;
  border: 1px solid silver;
  flex-wrap: wrap;
}