<div>Group {{@letter}}</div>

<ul class="teams">
  {{#each @teams key="@index" as |team index|}}
    {{#if team}}
      <li>{{team.name}}</li>
    {{else}}
      <li>-</li>
    {{/if}}
  {{/each}}
</ul>