<div>Group {{@letter}}</div>

<ul>
  {{#each @teams key="@index" as |team index|}}
    {{#if team}}
      <li>{{team.name}}</li>
    {{else}}
      <li><span onclick={{action @drawTeam @letter index}} class="drawSpot">Click me to draw!</span></li>
    {{/if}}
  {{/each}}
</ul>