<div class="group-title"><span>Group A</span></div>

<ul class="teams">
  {{#each @teams key="@index" as |team|}}
    {{#if team}}
      <li>{{team}}</li>
    {{else}}
      <li>&nbsp;</li>
    {{/if}}
  {{/each}}
</ul>
