<div class="pot-title">Pot {{number}}</div>

<div class="pot-teams">
  <ul>
    {{#each @teams key="@index" as |team|}}
      <li>{{team.name}}</li>
    {{/each}}
  </ul>
</div>

<div class="draw-button-container">
  <button onclick={{action draw}} disabled={{drawButtonDisabled}}>Draw</button>
</div>