<p>Pot 1</p>

<ul>
  {{#each @teams key="@index" as |team|}}
    <li>{{team}}</li>
  {{/each}}
</ul>

<button onclick={{action draw}} disabled={{drawDone}}>Draw!</button>

<p>The selected team is <strong>{{selectedTeam}}</strong></p>
