<div class="main-container">
  <h1>Russia 2018 World Cup</h1>

  <div class="pot-container">
    <div class="pot-item">
      <DrawPot
        @teams={{teams}}
        @drawAction={{action drawPot}}
      />
    </div>
  </div>

  <div class="group-container">
    {{#each groups key="@index" as |group|}}
      <div class="group-item">
        <WorldCupGroup @teams={{group}} />
      </div>
    {{/each}}
  </div>
</div>