<div class="main-container">
  <h1>Russia 2018 World Cup</h1>

  <div class="pot-container">
    <div class="pot-item">
      <DrawPot @teams={{teams}} />
    </div>
  </div>

  <div class="group-container">
    <div class="group-item">
      <WorldCupGroup />
    </div>
  </div>
</div>